{% extends 'base.html' %}
{% block title %}aluminai_contect{% endblock title %}
{% block body %}
<h4><b><center><i>Aluminai Contect</i></center></b></h4>
<p>A songwriter fascinated by psychology and global health.
 A mathematician designing models to predict herd immunity.
  A global activist engineering human-centered solutions. 
  These are just a few of the graduates who received their degrees on May 28.
   Learn what the newest alumni from the Class of 2020 dream of accomplishing next.</p>
{% endblock body %}